.quiz-container {
    width: 640px;
    margin: auto;
    margin-top: 150px;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;
    background-image: linear-gradient(#BAD9F8, #7593ce)
}

.quiz-container hr {
    height: 2px;
    border: none;
    background: #F5F5F5;
}

.quiz-container h2 {
    font-size: 27px;
    font-weight: 500;
}



.quiz-container button{
    align-items: center;
    margin: auto;
    width: 220px;
    height: 65px;
    background-color: darkblue;
    color: white;
    font-size: 20px;
    font-weight: 200;
    border-radius: 8px;
    cursor: pointer;
}

.quiz-container .index {
    margin: auto;
    font-size: 18px;
}